
.titulo {
  margin-top: 2%;
  margin-bottom: 1%;
}

.categoria {
  margin: 15%;
}

.data{
  text-align: left;
}

.hiper {
  color: white;
  margin: 5%;
}

.inicio {
  line-height: 2;
  margin-left: 28%;
  margin-bottom: 10%;
}
