<!-- Trayendo el head -->
<%- include('partials/head') %> 
<body>
    
    <%- include('partials/header') %>

    <h1 class="title titulo">Log In</h1> 

   <section class="form-container">

        <form action="/users/login" method="POST">

            <div class="categoria">
                <label for="price">Email:</label>
                <input type="email" name="email" id="">
            </div>

            <div class="categoria">
                <label for="discount">Contraseña:</label>
                <input type="password" name="password" id="">
            </div>

            <button class="boton">Log In</button>
        </form>

    </section>

    <%- include('partials/footer') %>

</body>
</html>